﻿@model DataBeat.SiteViewModels.UserType

@{
    ViewBag.Title = "About-test";
}
<h2>@Model.UserName</h2>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
